<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bodyfit | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/public/bodyfitHome/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="/public/bodyfitHome/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">my account</a>
                                <ul class="dropdown">
                                    <li><a href="/viewProfile">profile</a></li>
                                    <li><a href="/order-list">Order Details</a></li>
                                    <li><a href="/signup">Signup</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </li>
                           
                            <!-- <li><a href="/login">Login</a></li>
                            <li><a href="/logout">Logout</a></li> -->
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="/public/bodyfitHome/img/icon/search.png" alt=""></a>
                        <a href="/viewWishlist"><img src="/public/bodyfitHome/img/icon/heart.png" alt=""></a>
                        <a href="/cart"><img src="/public/bodyfitHome/img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

  
  <div class="m-1 row card justify-content-center">
    <div class="w-100  col-sm-10 col-lg-8 card o-hidden border-0  my-3">
      <div class="p-3">
        <div class="text-center">
       
        </div>


         <form action="/update-address/<%= address._id %>" class="user" method="POST">
          <div class="form-group row">
            <div class="col-sm-6 input-control">
              <label class="form-label">Full name*</label>
              <input type="text" class="form-control form-control-user"
                id="username" name="name"  value="<%= address.Fullname %>" required />
              <p class="valid_error"></p>
            </div>
            <div class="col-sm-6 input-control">
              <label class="form-label">CompanyName/HouseName</label>
              <input type="text" class="form-control form-control-user"
                id="" name="company" value="<%=address.company %>" />
              <p class="valid_error"></p>
            </div>
          </div>
          
              <div class="form-group row">
                <div class="col-sm-6 input-control">
                  <label class="form-label">Email*</label>
                  <input type="email" class="form-control form-control-user"
                    id="emailAddress" name="email" value="<%= address.email%>" required />
                  <p class="valid_error"></p>
                </div>
                <div class="col-sm-6 input-control">
                  <label class="form-label">Mobile*</label>
                  <input type="number" class="form-control form-control-user"
                    id="" name="mobile" pattern="[5-9]{1}[0-9]{9}" value="<%= address.mobile %>"
                    required />
                  <p class="valid_error"></p>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 input-control">
                  <label class="form-label">Country*</label>
                  <input type="text" class="form-control form-control-user"
                    id="" name="country" value="<%= address.countryname %>" required />
                  <p class="valid_error"></p>
                </div>
                <div class="col-sm-6 input-control">
                  <label class="form-label">State*</label>
                  <input type="text" class="form-control form-control-user"
                    id="" name="state" value="<%= address.state%>"  required />
                  <p class="valid_error"></p>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 input-control">
                  <label class="form-label">City/Town*</label>
                  <input type="text" class="form-control form-control-user"
                    id="" name="town" value="<%= address.city%>"  required />
                  <p class="valid_error"></p>
                </div>
                <div class="col-sm-6 input-control">
                  <label class="form-label">Postal Code/ZIP*</label>
                  <input type="tel" class="form-control form-control-user"
                    id="" name="zip" pattern="[0-9]{4,7}" value="<%= address.postal_code%>" required />
                  <p class="valid_error"></p>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12 input-control">
                  <label class="form-label">Street Address*</label>
                  <textarea
                    placeholder="Building No/Name, Locality, Street, Post Office"
                    class="form-control" rows="3" id="" name="address"
                    required><%= address.houseaddress %></textarea>
                </div>


              </div>
              <div class="mt-2 mx-1 form-group row justify-content-center">
                <button type="submit" class="btn btn-primary btn-user px-5">
                  Edit Address
                </button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>




 <!-- Footer Section Begin -->
 <footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="footer__about">
                  <div class="footer__logo">
                      <a href="#"><h3 style="color: white;">BODYFIT</h3></a>
                  </div>
                  <p>The customer is at the heart of our unique business model, which includes design.</p>
                  <a href="#"><img src="/public/bodyfitHome/img/payment.png" alt=""></a>
              </div>
          </div>
          <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
              <div class="footer__widget">
                  <h6>MENU</h6>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Catalog</a></li>
                      <li><a href="#">Contact Us</a></li>
                      <li><a href="#">Profile</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
              <div class="footer__widget">
                  <h6>HELP                        </h6>
                  <ul>
                      <li><a href="#">Contact Us</a></li>
                      <li><a href="#">Payment Methods</a></li>
                      <li><a href="#">Delivary</a></li>
                      <li><a href="#">Return & Exchanges</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
              <div class="footer__widget">
                  <h6>Contact Us                      </h6>
                  <ul>
                      <li><a href="#">	HiLight business Park , calicut ,kerala</a></li>
                      <li><a href="#">	6238424753</a></li>
                      <li><a href="#">	shoehub2023@gmail.com</a></li>
                     
                  </ul>
              </div>
          </div>
       
      </div>
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="footer__copyright__text">
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  <p>Copyright ©
                      <script>
                          document.write(new Date().getFullYear());
                      </script>2020
                      All rights reserved | This template is made with <i class="fa fa-heart-o"
                      aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Abhijith</a>
                  </p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="/public/bodyfitHome/js/jquery-3.3.1.min.js"></script>
    <script src="/public/bodyfitHome/js/bootstrap.min.js"></script>
    <script src="/public/bodyfitHome/js/jquery.nice-select.min.js"></script>
    <script src="/public/bodyfitHome/js/jquery.nicescroll.min.js"></script>
    <script src="/public/bodyfitHome/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/bodyfitHome/js/jquery.countdown.min.js"></script>
    <script src="/public/bodyfitHome/js/jquery.slicknav.js"></script>
    <script src="/public/bodyfitHome/js/mixitup.min.js"></script>
    <script src="/public/bodyfitHome/js/owl.carousel.min.js"></script>
    <script src="/public/bodyfitHome/js/main.js"></script>
</body>

</html>