<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bodyfit | Template</title>
    <!-- Google Font -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/1024693564.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-1dC4Xq3OIzPFvM+njK06YFQZSrs/itRwvzHle5XD5kD9iWgA5m0zBKaz0jKWsCg8iWmLRh5uDXC0JLohV9XyLw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/public/bodyfitHome/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/public/bodyfitHome/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/public/cart_asset/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/public/cart_asset/css/animate.css">
    <link rel="stylesheet" href="/public/cart_asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/cart_asset/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/public/cart_asset/css/magnific-popup.css">
    <link rel="stylesheet" href="/public/cart_asset/css/aos.css">
    <link rel="stylesheet" href="/public/cart_asset/css/ionicons.min.css">
    <link rel="stylesheet" href="/public/cart_asset/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/public/cart_asset/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/public/cart_asset/css/flaticon.css">
    <link rel="stylesheet" href="/public/cart_asset/css/icomoon.css">
    <link rel="stylesheet" href="/public/cart_asset/css/style.css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/"><img src="/public/bodyfitHome/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="#">my account</a>
                            <ul class="dropdown">
                                <li><a href="/viewProfile">profile</a></li>
                                <li><a href="/order-list">Order Details</a></li>
                                <li><a href="/logout">Logout</a></li>

                                <li><a href="/signup">Signup</a></li>
                                <li><a href="/login">Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="/public/bodyfitHome/img/icon/search.png" alt=""></a>
                    <a href="wishlist"><img src="/public/bodyfitHome/img/icon/heart.png" alt=""></a>
                    <a href="/cart"><img src="/public/bodyfitHome/img/icon/cart.png" alt=""> <span>0</span></a>
                    <div class="price">$0.00</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
    </header>
    <!-- Header Section End -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Whishlist</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Whishlist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <% var totalAmount=0 %>
        <!-- Shopping Cart Section Begin -->
        <section class="ftco-section ftco-cart">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <div class="cart-list">
                            <table class="table">
                                <thead class="thead-primary">
                                    <tr class="text-center">
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% wishlistData.forEach((item)=>{%>
                                        <tr class="text-center">
                                            <td class="product-remove"><button
                                                    onclick="removeWishlist('<%=item.productId %>')"><span
                                                        class="ion-ios-close"></span></button></span></button></td>
                                            <td class="image-prod">
                                                <div class="img"
                                                    style="background-image:url(<%=item.product.image_url[0].url%>);">
                                                </div>
                                            </td>
                                            <td class="product-name">
                                                <h3>
                                                    <%=item.product.productname%>
                                                </h3>
                                            </td>
                                            <td class="price">
                                                <h5>$<%=item.product.price%>
                                            </td>
                                            <td class="total"><a id="addCart<%= item.product._id %>"
                                                    onclick="addCart('<%= item.product._id %>')"
                                                    style="cursor: pointer;" class="btn cart px-auto">ADD TO CART</a>
                                            </td>
                                            <script>
                                            </script>
                                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
                                            <script
                                                src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
                                            <script
                                                src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                                            <script>
                                                function addCart(productId) {
                                                    const url = window.location.origin;
                                                    try {
                                                        document.getElementById("addCart" + productId).addEventListener("click", function () {
                                                            new Swal({
                                                                title: 'Added',
                                                                text: " Added To Cart",
                                                                icon: 'success',
                                                                buttons: ["cancel", "confirm"]
                                                            }).then((status) => {
                                                                if (status) {
                                                                    fetch(`${url}/viewCart?productid=${productId}`, {
                                                                        method: 'POST',
                                                                    })
                                                                }
                                                            });
                                                        })
                                                    } catch (err) {
                                                        alert('err')
                                                    }
                                                }
                                            </script>
                                        </tr><!-- END TR-->
                                        <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Shopping Cart Section End -->

        <!-- Footer Section Begin -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__logo">
                                <a href="#">
                                    <h3 style="color: white;">BODYFIT</h3>
                                </a>
                            </div>
                            <p>The customer is at the heart of our unique business model, which includes design.</p>
                            <a href="#"><img src="/public/bodyfitHome/img/payment.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                        <div class="footer__widget">
                            <h6>MENU</h6>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Catalog</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Profile</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="footer__widget">
                            <h6>HELP </h6>
                            <ul>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Delivary</a></li>
                                <li><a href="#">Return & Exchanges</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="footer__widget">
                            <h6>Contact Us </h6>
                            <ul>
                                <li><a href="#"> HiLight business Park , calicut ,kerala</a></li>
                                <li><a href="#"> 6238424753</a></li>
                                <li><a href="#"> shoehub2023@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="footer__copyright__text">
                            <p>Copyright ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>2020
                                All rights reserved | This template is made with <i class="fa fa-heart-o"
                                    aria-hidden="true"></i> by <a href="https://colorlib.com"
                                    target="_blank">Abhijith</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->

        <!-- Search Begin -->
        <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch">+</div>
                <form class="search-model-form">deal
                    <input type="text" id="search-input" placeholder="Search here.....">
                </form>
            </div>
        </div>
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
                <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00" />
            </svg></div>

        <!-- Search End -->

        <!-- Js Plugins -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script> -->
        <script>
            const removeWishlist = async (id) => {
                const objId = mongoose.Types.ObjectId(id);
                const response = await fetch(`/removeWishlist?id=${id}`);
                if (response.ok) {
                    swal({
                        title: "Success",
                        text: "Item removed from wishlist",
                        icon: "success",
                        button: "OK",
                    }).then(() => {
                        location.reload();
                    });
                } else {
                    swal({
                        title: "Error",
                        text: "Failed to remove item from wishlist",
                        icon: "error",
                        button: "OK",
                    });
                }
            };
            removeWishlist("1234567890");
        </script>
        <script src="/public/cart_asset/js/jquery.min.js"></script>
        <script src="/public/cart_asset/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="/public/cart_asset/js/popper.min.js"></script>
        <script src="/public/cart_asset/js/bootstrap.min.js"></script>
        <script src="/public/cart_asset/js/jquery.easing.1.3.js"></script>
        <script src="/public/cart_asset/js/jquery.waypoints.min.js"></script>
        <script src="/public/cart_asset/js/jquery.stellar.min.js"></script>
        <script src="/public/cart_asset/js/owl.carousel.min.js"></script>
        <script src="/public/cart_asset/js/jquery.magnific-popup.min.js"></script>
        <script src="/public/cart_asset/js/aos.js"></script>
        <script src="/public/cart_asset/js/jquery.animateNumber.min.js"></script>
        <script src="/public/cart_asset/js/bootstrap-datepicker.js"></script>
        <script src="/public/cart_asset/js/scrollax.min.js"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="/public/cart_asset/js/google-map.js"></script>
        <script src="/public/cart_asset/js/main.js"></script>
        <script src="https://kit.fontawesome.com/1024693564.js" crossorigin="anonymous"></script>
        <script src="/public/asset/cart.js"></script>
        <script src="/public/bodyfitHome/js/jquery-3.3.1.min.js"></script>
        <script src="/public/bodyfitHome/js/bootstrap.min.js"></script>
        <script src="/public/bodyfitHome/js/jquery.nice-select.min.js"></script>
        <script src="/public/bodyfitHome/js/jquery.nicescroll.min.js"></script>
        <script src="/public/bodyfitHome/js/jquery.magnific-popup.min.js"></script>
        <script src="/public/bodyfitHome/js/jquery.countdown.min.js"></script>
        <script src="/public/bodyfitHome/js/jquery.slicknav.js"></script>
        <script src="/public/bodyfitHome/js/mixitup.min.js"></script>
        <script src="/public/bodyfitHome/js/owl.carousel.min.js"></script>
        <script src="/public/bodyfitHome/js/main.js"></script>
</body>

</html>